* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.font-weight {
    font-weight: 500;
}

.carousel-inner {
    max-height: 45rem;
}

footer {
    background-color: #1b2a4e;
    min-height: 100px;
    padding: 45px;
}